
body{
    background-image:url("images/output-background.jpg");
    @include mp0;
    background-size:cover;

}
.input-container{
    @include container-styles;
    width:29.5%;
    background-image:url("images/input-background.jpeg");
    .input{
        @include input-output;
        @include border;
    }
    .insert{
        @include border;
        color:$main-color;
        background-color: $text-color;
        height: 2em;
        width:45%;
        margin: 0 20% auto;
    }
    

}
.shape-container{
    @include container-styles;
    background-image:url("images/container-background.png");
    width:50%;
    overflow: hidden;
    

}
.side-panel{
    @include container-styles;
    background-image:url("images/input-background.jpeg");
    width:19.5%;
    .output{
        @include input-output;
        @include border;
    }

}
h1{
    color:$text-color;
    text-align: center;
}
#triangle{
    @include triangle;
}
#square{
    @include square;
}
#circle{
    @include circle;
}
#rectangle{
    @include rectangle;
}